body {
    height: 100%;
    margin: 0;
    background-color: aquamarine;
    color: darkslategray;
}

html {
    height: 100%;
    margin: 0;
}


/*
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/fotos/History.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}//

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 0.5px 10px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: green;
    color: white;
}*/

#select {
    width: 200px;

}